.test11 {
    color: rgb(97, 97, 97);
    border-radius: 4px;
    box-shadow: none;
    position: fixed;
    padding-left: 24px;
    padding-right: 24px;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 5;
    background-color: white;
    transition: box-shadow 0.3s;
}
.test12 {
    background-color: white;
    color: #FE1936;
    text-align: center;
}
.test13 {
    text-align: center;
    background-color: white;
    color: black;
}
.test14 {
    text-align: center;
}
.test15 {
    background-color: gray;
}
.test16 {

    background-color: white;
    color: black;
}